### The while loop

In [ ]:
i=0
while i<10:
    print(i)
    i=i+1

In [ ]:
# run 1
while 0<10:
    print(0)
    i=0+1
    

#...  
#run 9 
while 9<10:
    print(9)
    i=9+1

#run 10    
while 10<10:
    print(i)
    i=i+1

In [ ]:
i=0
while i<10:
    if i==5:
        i=i+1
        break
    print(i)
    i=i+1

In [ ]:
i=0
while i<10:
    print(i)
    i=i+1
else:
    print('The loop is done!')

In [ ]:
i=0
while i<10:
    if i==5:
        i=i+1
        break
    print(i)
    i=i+1
else:
    print('The loop is done!')

In [ ]:
i=0
while i<10:
    if i==5:
        i=i+1
        continue
    print(i)
    i=i+1
else:
    print('The loop is done!')

In [ ]:
#7394

print(7394%10)
print(7394//10)
print(739%10)

In [ ]:
def deconstruct(num):
    while num > 0:
        print(num%10)
        num=num//10
    else:
        print('Your number has been deconstructed!')

In [ ]:
deconstruct(123)

In [ ]:
num[0], num[5]

### Using time

In [ ]:
import time
t = time.localtime(time.time())
print('Seconds:', t.tm_sec)
print('Minute:', t.tm_min)
print('Hour:', t.tm_hour)

### Breaking it down

In [ ]:
iterations=0
while interations<10:
    interations=interations+1
    print(interations)

### While loop recap
keywords:
- while
- continue
- break
- else

In [ ]:
i = 10
while i>=0:
    if i==5:
        i=i-1
        continue
    elif i==3:
        break
    else:
        print(i)
        i=i-1
else:
    print('The loop is done running!')

In [ ]:
i = 10
while i>=0:
    print(i)
    i=i-1
else:
    print('The loop is done running!')

In [ ]:
# warm-up
# print all even numbers between 0 and 50 using a while loop

### The alarm clock

In [ ]:
import time
t = time.localtime(time.time())
print('Seconds:', t.tm_sec)
print('Minute:', t.tm_min)
print('Hour:', t.tm_hour)

In [ ]:
i=0
while i<10:
    time.sleep(0.5)
    print(i)
    i=i+1

In [ ]:
#possible solution 

h = int(input('hours '))
m = int(input('minutes '))
s = int(input('seconds '))

while True:
    t = time.localtime(time.time())
    if h == t.tm_hour and m == t.tm_min and s == t.tm_sec:
        print('Time is UP!')
        break

### For Loops
keywords:
- for
- continue
- break
- else
- pass

In [1]:
#with strings
name_list=['adele','billy','cathy']

In [2]:
for random_variable in name_list:
    print('Hello', random_variable)

Hello adele
Hello billy
Hello cathy

In [ ]:
# with integers
num_list=[0,1,2,3,4,5]

In [ ]:
for num_var in num_list:
    print(num_var**2)

In [ ]:
num_tupple=(0,1,2,3,4,5)

In [ ]:
for num_var in num_tupple:
    print(num_var**2)

In [ ]:
print(range(10))

In [ ]:
(0,1,2,3,4,5,6,7,8,9)

In [10]:
for num in range(1,10,3):
    print(num)

1
4
7

### The car factory!

In [11]:
car_type=['SUV','sedan','truck']
car_colour=['blue','red','white']

for model in car_type:
    for colour in car_colour:
        print(colour, model)

blue SUV
red SUV
white SUV
blue sedan
red sedan
white sedan
blue truck
red truck
white truck

In [ ]:
def my_func(*numbers)

In [12]:
for i in range(1,6):
    print(str(i)*i)

1
22
333
4444
55555